@font-face {
    font-family: 'Title';
    src: url("assets/fonts/Broadway_Regular.ttf");
}

@font-face {
    font-family: 'Artist';
    src: url("assets/fonts/FuturaLight.otf");
}

:root {
    --bg_cover: url(./assets/covers/sia-angel-by-the-wings.jpg);
    --cover-size: clamp(50px, 50vw, 450px);
    --bg-color: white;
    --svg-color: black;
}

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    transition: background-image 1s ease-in-out;
}

.wraper {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.cover_img {
    height: clamp(var(--cover-size), var(--cover-size), var(--cover-size));
    width: clamp(var(--cover-size), var(--cover-size), var(--cover-size));
    background: var(--bg_cover) no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 2;
    display: inline-block;
    top: 0;
    left: 0;
    transition: all 1s ease 0s;

}

.record {
    height: clamp(var(--cover-size), var(--cover-size), var(--cover-size));
    width: clamp(var(--cover-size), var(--cover-size), var(--cover-size));
    background: url(./assets/vinil.png) no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 1;
    display: inline-block;
    top: 0;
    left: 0;
    transition: left 1s ease 0s;
}

@keyframes moving {
    100% {
        transform: rotate(-360deg);
    }
}

.record.active {
    left: -47%;
    transition: left 1s ease 0s;
    transition: left 1s ease 0s;
    animation: moving 3s infinite linear;
}

.wrap_cover {
    display: flex;
    position: relative;
    justify-content: center;
    margin: 0 auto;
    filter: drop-shadow(1px 5px 10px black);
    height: var(--cover-size);
    width: var(--cover-size);
}
.controls-btns{
    fill: var(--svg-color);
    margin-top: 10px;
}

button,
button:focus{
    background-color: transparent;
    border: none;
    outline: 0;
    opacity: 0.6;
    cursor: pointer;
}
button:hover{
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

button svg {
    height: 30px;
    width: 30px;
}

.controls-time {
    width: 100%;
}

.progress-bar {
    width: 80%;
    margin: 0 auto;
}


.time {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Artist';
}


.slider {
    width: 100%;
}

input[type='range'] {
    overflow: hidden;
    -webkit-appearance: none;
    background-color: rgba(255, 255, 255, 0.7);
}

input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #13bba4;
    margin-top: -1px;
}

input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: #434343;
    box-shadow: -1000px 0 0 1000px #43e5f7;
}

input[type="range"]::-moz-range-progress {
    background-color: #43e5f7;
}

input[type="range"]::-moz-range-track {
    background-color: rgba(255, 255, 255, 0.7);
}

input[type="range"]::-ms-fill-lower {
    background-color: #43e5f7;
}

input[type="range"]::-ms-fill-upper {
    background-color: rgba(255, 255, 255, 0.7);
}

h1{
    font-family: "Title";
    transition: all 1s ease-in-out;
    padding: 0;
    margin: 15px 0 0 0;
    cursor: default;
}
h2{
    font-family: "Artist";
    opacity: .6;
    font-size: 100%;
    padding: 0;
    margin: 0;
    cursor: default;
}
h2:hover{
    opacity: 1;
}